<img src="/assets/flags.svg" class="leftFlag">
<img src="/assets/flags.svg" class="rightFlag">
<img src="/assets/mario.png" class="mario">
<div class="stats" *ngIf="player">
  <h1>
    {{ player.playerName }} Stats
  </h1>
  <div>
    Rating: {{ player.eloRating }}
  </div>
  <div>
    Games Played: {{ player.gamesPlayed }}
  </div>
  <div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="options"
      class="chart"
    ></highcharts-chart>
  </div>
</div>
<div class="center">
  <button routerLink="/rankings" mat-button color="primary">
    Back
  </button>
</div>
